<div class="sub-menu-navbar"></div>
<div class="container sub-row-space">
  <div class="sub-join">
  <h1>Join As:</h1>
  </div>

  <!-- Begining of Practitioners-->
  <div class="col-md-6">
    <div class="panel sub-panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading text-uppercase">Practitioners</div>
        <div class="panel-body">
          <p class="text-danger"><small>Note: STRICTLY For registered and Licensed Healthcare Practitioners</small></p>
        </div>

        <!-- List group -->
        <ul class="sub-list-group">
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Doctor</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Surgeon</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Nurse</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Laboratory Technician</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Others</li></a>
        </ul>
      </div>
  </div><!-- /- End of Practitioners-->



<!-- Begining of Facilitators -->
  <div class="col-md-6">
    <div class="panel sub-panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading text-uppercase">Facilitators</div>
        <div class="panel-body">
          <p class="text-danger"><small>Note: STRICTLY For registered and Licensed Healthcare Facilitators </small></p>
        </div>

        <!-- List group -->
        <ul class="sub-list-group">
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Hospitals and Clinics</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Laboratory</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Medical Stores</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Insurance Company</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Financial Services</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Emergency And Ambulance</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Tours and Travel</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Medical School</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">NGOs</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Others</li></a>
        </ul>
      </div>
  </div><!-- /- End of Facilitators -->
  </div><!-- /- Container -->
